body{
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	font-size: 1em;
}

h1 {
	font-size: 2em;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
.square {
  width: 300px;
  height: 300px;
  background-image: url(LennyFace.png);
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;
}
img {
	text-align: center;
}